[package]
name = "hvm"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
TSPL = "0.0.10"
clap = "4.5.2"
