[package]
name = "hvm"
version = "1.0.4"
edition = "2021"
description = "A massively parallel functional runtime."
repository = "https://github.com/HigherOrderCO/HVM"
license = "MIT"
keywords = ["functional", "language", "runtime", "compiler", "target"]
categories = ["compilers"]

[lib]
test = true
crate-type = ["cdylib", "rlib"]

[features]
default = ["sysinfo"]
cli = ["clap"]

[[bin]]
name = "hvm"
test = false
required-features = ["cli"]

[profile.release]
opt-level = 3

[dependencies]
HOPA = "0.1.1"
sysinfo = { version = "0.26.7", optional = true }
clap = { version = "3.1.8", features = ["derive"], optional = true }
crossbeam = "0.8.2"
instant = { version = "0.1", features = [ "wasm-bindgen", "inaccurate" ] }
itertools = "0.10"
