# cargo-features = ["const_impl_trait", "type_alias_impl_trait"]

[package]
name = "hvm"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cranelift = "0.80.0"
cranelift-jit = "0.80.0"
cranelift-module = "0.80.0"
cranelift-native = "0.80.0"

[profile.dev]
# opt-level = 0

[profile.release]
opt-level = 3
